<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="javascript:void(0)" onclick="LoadPage('Home/Assembly')">联动1</a></li>
    <li role="presentation"><a href="javascript:void(0)" onclick="LoadPage('Home/About')">联动2</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>
<div class="jumbotron" id="HomePage">
</div>
<script type="text/javascript">
    function LoadPage(URL) {
        $("#HomePage").load(URL, function () {
        });
    }
    $(document).ready(function () {
        LoadPage('Home/Assembly');
    })
</script>